In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_import = pd.read_csv("Year-Country-Value_Import.csv",  thousands=',')

df_import.index = pd.to_datetime(df_import['Date'])

df_import.drop(['Date'], axis = 1, inplace = True)

In [3]:
df_export = pd.read_csv("Year-Country-Value_Export.csv",  thousands=',')

df_export.index = pd.to_datetime(df_export['Date'])

df_export.drop(['Date'], axis = 1, inplace = True)

In [4]:
df_export.shape, df_import.shape

((33588, 2), (28848, 2))

In [5]:
df_import.rename(columns={"Value": "Import_Value"},inplace = True)
df_export.rename(columns={"Value": "Export_Value"},inplace = True)

In [6]:
df = pd.merge(df_import, df_export, how='outer', on=['Date','Country'], left_on=None, right_on=None,
left_index=False, right_index=False, sort=True)

In [7]:
df

                    Country  Import_Value  Export_Value
Date
2007-01-01  AFGHANISTAN TIS          0.48         22.22
2007-01-01          ALBANIA           NaN          0.34
2007-01-01          ALGERIA         73.86         29.94
2007-01-01      AMERI SAMOA          0.09          0.02
2007-01-01           ANGOLA          0.81         13.07
...                     ...           ...           ...
2020-01-01  VIETNAM SOC REP        466.37        373.05
2020-01-01     VIRGIN IS US          0.37          0.56
2020-01-01    YEMEN REPUBLC          1.07         65.07
2020-01-01           ZAMBIA         80.33         20.58
2020-01-01         ZIMBABWE          0.55          9.45

[34107 rows x 3 columns]

In [8]:
# df.to_csv("Year-Country-Value.csv")