In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df_import = pd.read_csv("Year-HSCode-Value_Import.csv",  thousands=',')

df_import.index = pd.to_datetime(df_import['Date'])

df_import.drop(['Date'], axis = 1, inplace = True)

In [3]:
df_export = pd.read_csv("Year-HSCode-Value_Export.csv",  thousands=',')

df_export.index = pd.to_datetime(df_export['Date'])

df_export.drop(['Date'], axis = 1, inplace = True)

In [4]:
df_export.shape, df_import.shape

((15278, 3), (15285, 3))

In [5]:
df_import.rename(columns={"Value": "Import_Value"},inplace = True)
df_export.rename(columns={"Value": "Export_Value"},inplace = True)

In [10]:
df_export.drop(['Commodity'], axis = 1, inplace = True)

In [11]:
df = pd.merge(df_import, df_export, how='outer', on=['Date','HSCode'], left_on=None, right_on=None,
left_index=False, right_index=False, sort=True)

In [12]:
df.shape

(15288, 4)

In [13]:
df

,HSCode,Commodity,Import_Value,Export_Value
Date,,,,
2007-01-01,1,LIVE ANIMALS.,0.02,0.78
2007-01-01,2,MEAT AND EDIBLE MEAT OFFAL.,0.01,51.44
2007-01-01,3,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",1.12,116.92
2007-01-01,4,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,1.88,33.96
2007-01-01,5,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",1.47,3.01
...,...,...,...,...
2020-01-01,95,"TOYS, GAMES AND SPORTS REQUISITES; PARTS AND A...",46.51,28.64
2020-01-01,96,MISCELLANEOUS MANUFACTURED ARTICLES.,62.46,49.80
2020-01-01,97,WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.,4.68,3.23
2020-01-01,98,PROJECT GOODS; SOME SPECIAL USES.,429.85,1.02
2020-01-01,99,MISCELLANEOUS GOODS.,3.80,7.99

In [9]:
# df.to_csv("Year-HSCode-Value.csv")