In [1]:
#Importing packages
from selenium import webdriver
from selenium.webdriver.support.ui import Select
import pandas as pd
from bs4 import BeautifulSoup

In [27]:
Month = 'FEB'
Year = '2018'

In [2]:
driver = webdriver.Chrome('C:/Users/Akars/Documents/Scrape/chromedriver')
driver.get("https://commerce-app.gov.in/meidb/comq.asp")
calendar_year = driver.find_elements_by_xpath('//*[@id="radioCY"]')
calendar_year[0].click()

month = driver.find_elements_by_xpath('//*[@id="select1"]')
Select(month[0]).select_by_visible_text(Month)

year = driver.find_elements_by_xpath('//*[@id="select2"]')
Select(year[0]).select_by_visible_text(Year)

all_commodities = driver.find_elements_by_xpath('//*[@id="radio2"]')
all_commodities[0].click()

all_record = driver.find_elements_by_xpath('//*[@id="radioDAll"]')
all_record[0].click()

value = driver.find_elements_by_xpath('//*[@id="radiousd"]')
value[0].click()

submit = driver.find_elements_by_xpath('//*[@id="button1"]')
script = submit[0].click()

In [38]:
soup=BeautifulSoup(driver.page_source, 'html')
table = soup.find('table')
table_rows = table.find_all('tr')
col = []
res = []
for tr in table_rows:
    
    td = tr.find_all('td')
    row = [tr.text.strip() for tr in td[:-3] if tr.text.strip()]
    if row:
        res.append(row)

In [40]:
df_small = pd.DataFrame(res, columns = ['S.No.', 'HSCode', 'Commodity', 'Value_prev_year', 'Value',
       '%Growth'])
df_small['Date'] = pd.to_datetime('{}-{}'.format(Year, Month))
df_small

,S.No.,HSCode,Commodity,Value_prev_year,Value,%Growth,Date
0,1.,01,LIVE ANIMALS.,7.16,5.20,-27.31,2018-02-01
1,2.,02,MEAT AND EDIBLE MEAT OFFAL.,357.85,238.96,-33.22,2018-02-01
2,3.,03,"FISH AND CRUSTACEANS, MOLLUSCS AND OTHER AQUAT...",366.06,417.74,14.12,2018-02-01
3,4.,04,DAIRY PRODUCE; BIRDS' EGGS; NATURAL HONEY; EDI...,26.89,31.21,16.04,2018-02-01
4,5.,05,"PRODUCTS OF ANIMAL ORIGIN, NOT ELSEWHERE SPECI...",6.91,10.85,56.91,2018-02-01
...,...,...,...,...,...,...,...
94,95.,96,MISCELLANEOUS MANUFACTURED ARTICLES.,40.17,44.43,10.61,2018-02-01
95,96.,97,WORKS OF ART COLLECTORS' PIECES AND ANTIQUES.,6.97,18.93,171.62,2018-02-01
96,97.,98,PROJECT GOODS; SOME SPECIAL USES.,2.05,3.01,46.96,2018-02-01
97,98.,99,MISCELLANEOUS GOODS.,19.95,5.22,-73.83,2018-02-01
98,India's Total Export,"24,726.30","26,032.47",5.28,None,None,2018-02-01